@import "tailwindcss";

.like{
    animation: contentFadeIn, contentFadeOut;
    animation-duration: 0.5s,0.5s;
    animation-delay: 0s, 1s;
}

.dislike{
    animation: contentFadeIn, contentFadeOut;
    animation-duration: 0.5s,0.5s;
    animation-delay: 0s, 1s;
}

.success-message{
    animation: contentFadeOut;
    animation-duration: 1s;
    animation-delay: 3s;
}

@keyframes contentFadeOut {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

@keyframes contentFadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
